.print-section {
    padding: 90px 0;
    background-image: url('../images/print-banner/print-currencies-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.print-banner-title {
    margin-bottom: 40px;
    color: $white;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}